<!DOCTYPE html>
<html lang="en">

<head>
    {{>head}}

</head>

<body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">

        <!-- Header -->
        {{>header}}
        <!-- /Header -->

        <!-- Sidebar -->
        {{>admin_sidebar}}
        <!-- /Sidebar -->

        <!-- Page Wrapper -->
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="page-header">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="page-title">Dashbord</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item">Home</li>
                                <li class="breadcrumb-item active">Dashbord</li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <h1>hfkshz</h1>

            </div>

        </div>


    </div>
    <!-- /Page Wrapper -->

    </div>
    <!-- /Main Wrapper -->

    {{>js}}


</body>
<script>
    $(document).ready(function () {
		$('#liadmin_dashbord').addClass('active');
	});
</script>
</html>