<div id="view_project" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewprojectname"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>


           <div class="modal-body">
                
                <span>Task:</span>
                <p class="text-muted" id="viewtask"> </p>
                <span>Description:</span>
                <p class="text-muted" id="viewdescription">
                </p>
                
                <div class="pro-deadline m-b-15">
										<div class="sub-title">
											Allocate Employee Email Id:
										</div>
										<div class="text-muted" id="viewemployeeid">
											
										</div>
									</div>
                
            </div>
        </div>



    </div>
</div>