<div class="sidebar" id="sidebar">
	<div class="sidebar-inner slimscroll">
		<div id="sidebar-menu" class="sidebar-menu">
			<ul>
				<li class="menu-title">
					<span>Main</span>
				</li>
				<li id="liadmin_dashbord" class="hover">
					<a href="admin_dashbord"><i class="la la-dashboard" onclick="db()"></i> <span>Dashbord</span></a>
				</li>
				<li id="liadmin_add_user" class="hover">
					<a href="admin_add_user"><i class="la la la-cog" onclick="db()"></i> <span>Settings</span></a>
				</li>
				<li id="liadmin_task" class="hover">
					<a href="admin_task"><i class="la la la-rocket" onclick="db()"></i> <span>Task</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>