
<div class="col-md-12 row" id="data">

	 {{!-- <div class="col-lg-4 col-sm-6 col-md-4 col-xl-3" >
		<div class="card" >
			<div class="card-body" >
				<div class="dropdown dropdown-action profile-action">
					<span class="task-priority badge bg-inverse-warning">To Do</span>
					<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
							class="material-icons">more_vert</i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="#" data-toggle="modal" data-target="#admin_edit_project"><i
								class="fa fa-pencil m-r-5"></i> Edit</a>
						<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_department"><i
								class="fa fa-trash-o m-r-5"></i>Delete</a>

					</div>
				</div>
				<h4 class="project-title"><a href="#" data-toggle="modal" data-target="#view_project">Web
						Application</a></h4>
				<p class="text-muted">Lorem Ipsum
				</p>
				<br>
				<p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
					typesetting industry. When an unknown printer took a galley of type and
					scrambled it...
				</p>
				<div class="pro-deadline m-b-15">
					<div class="sub-title">
						Allocate Employee :
					</div>
					<div class="text-muted">
						vrushik kardani
					</div>
				</div>
				<div class="pro-deadline m-b-15">
					<div class="sub-title">
						Start Time:
					</div>
					<div class="text-muted">
						12:00 AM
					</div>
				</div>
				<div class="pro-deadline m-b-15">
					<div class="sub-title">
						End Time:
					</div>
					<div class="text-muted">
						12:00 AM
					</div>
				</div>
				<div class="pro-deadline m-b-15">
					<div class="sub-title">
						Date:
					</div>
					<div class="text-muted">
						12-12-1212
					</div>
				</div>
				
			</div>
		</div>
	</div>

	<div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="dropdown dropdown-action profile-action">
					<span class="task-priority badge bg-inverse-danger">On Going</span>


					<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
							class="material-icons">more_vert</i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="#" data-toggle="modal" data-target="#admin_edit_project"><i
								class="fa fa-pencil m-r-5"></i> Edit</a>
						<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_department"><i
								class="fa fa-trash-o m-r-5"></i>Delete</a>
					</div>
				</div>
				<h4 class="project-title"><a href="#" data-toggle="modal" data-target="#view_task">Web Application</a>
				</h4>
				<p class="text-muted">Lorem Ipsum
				</p>
				<br>
				<p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
					typesetting industry. When an unknown printer took a galley of type and
					scrambled it...
				</p>
				<div class="pro-deadline m-b-15">
					<div class="sub-title">
						Allocate Employee Name:
					</div>
					<div class="text-muted">
						vrushik kardani
					</div>
				</div>
				<div class="pro-deadline m-b-15">
					<div class="sub-title">
						Start Time:
					</div>
					<div class="text-muted">
						12:00 AM
					</div>
				</div>
				<div class="pro-deadline m-b-15">
					<div class="sub-title">
						End Time:
					</div>
					<div class="text-muted">
						12:00 AM
					</div>
				</div>
				<div class="pro-deadline m-b-15">
					<div class="sub-title">
						Date:
					</div>
					<div class="text-muted">
						12-12-1212
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="col-lg-4 col-sm-6 col-md-4 col-xl-3">
		<div class="card">
			<div class="card-body">
				<div class="dropdown dropdown-action profile-action">
					<span class="task-priority badge bg-inverse-success">Complate</span>
					<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i
							class="material-icons">more_vert</i></a>
					<div class="dropdown-menu dropdown-menu-right">
						<a class="dropdown-item" href="#" data-toggle="modal" data-target="#admin_edit_project"><i
								class="fa fa-pencil m-r-5"></i> Edit</a>
						<a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_department"><i
								class="fa fa-trash-o m-r-5"></i>Delete</a>

					</div>
				</div>
				<h4 class="project-title"><a href="#" data-toggle="modal" data-target="#view_task">Web Application1</a>
				</h4>
				<p class="text-muted">Lorem Ipsum
				</p>
				<br>
				<p class="text-muted">Lorem Ipsum is simply dummy text of the printing and
					typesetting industry. When an unknown printer took a galley of type and
					scrambled it...
				</p>
				<div class="pro-deadline m-b-15">
					<div class="sub-title">
						Allocate Employee Name:
					</div>
					<div class="text-muted">
						vrushik kardani
					</div>
				</div>
				<div class="pro-deadline m-b-15">
					<div class="sub-title">
						Start Time:
					</div>
					<div class="text-muted">
						12:00 AM
					</div>
				</div>
				<div class="pro-deadline m-b-15">
					<div class="sub-title">
						End Time:
					</div>
					<div class="text-muted">
						12:00 AM
					</div>
				</div>
				<div class="pro-deadline m-b-15">
					<div class="sub-title">
						Date:
					</div>
					<div class="text-muted">
						12-12-1212
					</div>
				</div>
				
			</div>
		</div>
	</div>  --}}
</div>

