<div class="row">
    <div class="col-md-12">



        <!-- Search Filter -->
        <div class="row filter-row">
            
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus select-focus">
                    <select class="select floating" id="searchstatus">
                        <option value="To Do"> To Do </option>
                        <option value="On Going"> On Going </option>
                        <option value="Complete"> Complete </option>
                    </select>
                    <label class="focus-label">Status</label>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                <div class="form-group form-focus select-focus">
                    <select class="select floating" id="projectsearch">
                    

                    </select>
                    <label class="focus-label">Project</label>
                </div>
            </div>

            <div class="col-sm-6 col-md-3 col-lg-3 col-xl-2 col-12">
                {{!-- <a href="#" class="btn btn-success btn-block" onclick="search()"> Search </a> --}}
                <button class="btn btn-success btn-block" onclick="search()">Search</button>
            </div>
            
        </div>
         
        <!-- /Search Filter -->


    </div>